.about__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: auto;
  letter-spacing: 5px;
}

@media screen and (max-width: 550px) {
  .about__subtitle {
    text-align: center;
  }
}