.stack__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 60px 80px;
  grid-template-columns: repeat(auto-fit, 180px);
  justify-content: center;
}

.stack__list:nth-last-child(1) {
  margin-bottom: 100px;
}