.projects__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, calc(100%/3));
}

@media screen and (max-width: 767px) {
  .projects__list {
    grid-template-columns: repeat(auto-fit, calc(100%/2));
  }
}