.header__links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: auto;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}