.contact__link_telegram {
  position: relative;
}

.contact__link_telegram:after {
  content: '';
  width: 35px;
  height: 35px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../../../../images/png/contact-telegram.png) no-repeat;
  background-size: cover;
}